<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="TestSuite">
    <test name="Test-1">
        <classes>
            <class name="com.org.capgemini.seleniumtraining.day5.TestNGDemo" />
           <!-- Add more classes as needed -->
        </classes>
    </test>
    <test name="Test-2">
<classes>
    <class name="com.org.capgemini.seleniumtraining.day5.TestNGDemo1" />
</classes>
    </test>
</suite>
